
/* 公共样式 - 开始 */
/* 左右浮动 */
.left{
    float: left;
    overflow:hidden;
}
.right{
    float: right;
    overflow:hidden;
}

/* 公共样式 - 结束 */

/* 版心 */
body{
    background: rgb(245, 248, 249);
}
.typeArea{
    width: 1140px;
    height: 500px;
    margin: 0 auto;
    /* background: rgb(245, 248, 249); */
}

/* 顶部 */
.title{
    height: 100px;
    background: #fff;
}
.title a{
    display: block;
    width: 105px;
    height: 30px;
    line-height: 30px;
    margin-top: 33.33px;
    background: rgb(252, 32, 21);
    color: #fff;
    text-align: center;
    letter-spacing:2px;
}

/* 导航 */
.navigation{
    height: 170px;
}
.navigation-left{
    margin-top: 65px;
}
.navigation-left h3{
    font-size: 20px;
    color: rgb(38, 43, 46);
}
.navigation-left p{
    color: rgb(139, 143, 145);
    font-size: 16px;
    margin-top: 10px;
}
ul.navigation-right li{
    font-weight: 700;
    margin-top: 85px;
    font-size: 15px;
    margin: 85px 20px 0;
    padding-bottom: 2px;
}
/* 鼠标放上下划线 */
ul.navigation-right .current,ul.navigation-right li:hover{
    border-bottom: 2px rgba(139, 143, 145,.5) solid;
}

/* 轮播图部分  Support */
.banner>div{
    width: 560px;
    border: 1px solid #000;
    height: 500px;
}
