
/* 公共样式 - 开始 */
/* 左右浮动 */
.Left{
    float: left;
    overflow:hidden;
}
.Right{
    float: right;
    overflow:hidden;
}

/* 公共样式 - 结束 */

/* 版心 */
body{
    background: rgb(245, 248, 249);
}
.TypeArea{
    width: 1140px;
    height: 500px;
    margin: 0 auto;
    /* background: rgb(245, 248, 249); */
}

/* 顶部 */
.Title{
    height: 100px;
    background: #fff;
}
.Title a{
    display: block;
    width: 105px;
    height: 30px;
    line-height: 30px;
    margin-top: 33.33px;
    background: rgb(252, 32, 21);
    color: #fff;
    text-align: center;
    letter-spacing:2px;
}

/* 导航 */
.Navigation{
    height: 170px;
}
.Navigation-left{
    margin-top: 65px;
}
.Navigation-left h3{
    font-size: 20px;
    color: rgb(38, 43, 46);
}
.Navigation-left p{
    color: rgb(139, 143, 145);
    font-size: 16px;
    margin-top: 10px;
}
ul.Navigation-right li{
    font-weight: 700;
    margin-top: 85px;
    font-size: 15px;
    margin: 85px 20px 0;
    padding-bottom: 2px;
}
/* 鼠标放上下划线 */
ul.Navigation-right .Current,ul.Navigation-right li:hover{
    border-bottom: 2px rgba(139, 143, 145,.5) solid;
}

