/* 公共样式 - 开始 */


/* 左右浮动 */

.left {
    float: left;
    overflow: hidden;
}

.right {
    float: right;
    overflow: hidden;
}


/* 公共样式 - 结束 */


/* 版心 */

body {
    background: rgb(245, 248, 249);
}

.typeArea {
    width: 1140px;
    height: 500px;
    margin: 0 auto;
}


/* 顶部 */

.title {
    height: 100px;
    background: #fff;
}

.title a {
    display: block;
    width: 105px;
    height: 30px;
    line-height: 30px;
    margin-top: 33.33px;
    background: rgb(252, 32, 21);
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}


/* 导航 */

.navigation {
    height: 170px;
}

.navigation-left {
    margin-top: 65px;
}

.navigation-left h3 {
    font-size: 20px;
    color: rgb(38, 43, 46);
}

.navigation-left p {
    color: rgb(139, 143, 145);
    font-size: 16px;
    margin-top: 10px;
}

ul.navigation-right li {
    font-weight: 700;
    margin-top: 85px;
    font-size: 15px;
    margin: 85px 20px 0;
    padding-bottom: 2px;
}


/* 鼠标放上 */

ul.navigation-right .current,
ul.navigation-right li:hover {
    border-bottom: 2px rgba(139, 143, 145, .5) solid;
    cursor: pointer;
}


/* 轮播图部分  Support */

.module {
    padding: 10px 0;
    height: 288px;
    border: 1px solid #000;
}

.banner {
    width: 560px;
    border: 1px solid #000;
    /* height: 288px; */
    height: 100%;
}

.left.banner {
    position: relative;
}

.banner .img_box {
    position: relative;
}

.banner .img_box li {
    position: absolute;
    left: 0;
    top: 6px;
}

.banner .dot_box {
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
}

.banner .dot_box li {
    width: 10px;
    height: 10px;
    background: #bfc1c4;
    float: left;
    margin: 5px;
}


/* 当前 */

.banner .dot_box li.current {
    height: 14px;
    background: #fff;
    transform: translateY(-4px);
}


/* 左右箭头 */

.banner .arrow {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.banner .arrow li {
    color: #fff;
    font-family: "宋体";
    font-weight: 700;
    font-size: 24px;
    background: rgba(0, 0, 0, .5);
    padding: 5px;
    overflow: hidden;
}

.banner .arrow li:nth-of-type(1) {
    float: left;
}

.banner .arrow li:nth-of-type(2) {
    float: right;
}


/* 曲线数据展示 */

.graph {}